In [49]:
import pandas as pd
import json
import requests
import gzip
import csv

In [50]:
from opensky_api import OpenSkyApi
api = OpenSkyApi()

In [3]:
#adding all the individual dataframes for historical flight data during covid

covid_201901 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190101_20190131.csv.gz', 
                           compression='gzip')
covid_201902 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190201_20190228.csv.gz', 
                           compression='gzip')
covid_201903 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190301_20190331.csv.gz', 
                           compression='gzip')
covid_201904 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190401_20190430.csv.gz', 
                           compression='gzip')
covid_201905 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190501_20190531.csv.gz', 
                           compression='gzip')
covid_201906 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190601_20190630.csv.gz', 
                           compression='gzip')
covid_201907 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190701_20190731.csv.gz', 
                           compression='gzip')
covid_201908 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190801_20190831.csv.gz', 
                           compression='gzip')
covid_201909 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20190901_20190930.csv.gz', 
                           compression='gzip')
covid_201910 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20191001_20191031.csv.gz', 
                           compression='gzip')
covid_201911 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20191101_20191130.csv.gz', 
                           compression='gzip')
covid_201912 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20191201_20191231.csv.gz', 
                           compression='gzip')
covid_202001 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200101_20200131.csv.gz', 
                           compression='gzip')
covid_202002 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200201_20200229.csv.gz', 
                           compression='gzip')
covid_202003 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200301_20200331.csv.gz', 
                           compression='gzip')
covid_202004 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200401_20200430.csv.gz', 
                           compression='gzip')
covid_202005 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200501_20200531.csv.gz', 
                           compression='gzip')
covid_202006 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200601_20200630.csv.gz', 
                           compression='gzip')
covid_202007 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200701_20200731.csv.gz', 
                           compression='gzip')
covid_202008 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200801_20200831.csv.gz', 
                           compression='gzip')
covid_202009 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20200901_20200930.csv.gz', 
                           compression='gzip')
covid_202010 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20201001_20201031.csv.gz', 
                           compression='gzip')
covid_202011 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20201101_20201130.csv.gz', 
                           compression='gzip')
covid_202012 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20201201_20201231.csv.gz', 
                           compression='gzip')
covid_202101 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210101_20210131.csv.gz', 
                           compression='gzip')
covid_202102 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210201_20210228.csv.gz', 
                            compression='gzip')
covid_202103 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210301_20210331.csv.gz', 
                           compression='gzip')
covid_202104 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210401_20210430.csv.gz', 
                           compression='gzip')
covid_202105 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210501_20210530.csv.gz', 
                           compression='gzip')
covid_202106 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210601_20210630.csv.gz', 
                           compression='gzip')
covid_202107 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210701_20210731.csv.gz', 
                           compression='gzip')
covid_202108 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210801_20210831.csv.gz', 
                           compression='gzip')
covid_202109 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20210901_20210930.csv.gz', 
                           compression='gzip')
covid_202110 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20211001_20211031.csv.gz', 
                           compression='gzip')
covid_202111 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20211101_20211130.csv.gz', 
                           compression='gzip')
covid_202112 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20211201_20211231.csv.gz', 
                           compression='gzip')
covid_202201 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20220101_20220131.csv.gz', 
                           compression='gzip')
covid_202202 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20220201_20220228.csv.gz', 
                           compression='gzip')
covid_202203 = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/flightlist_20220301_20220331.csv.gz', 
                           compression='gzip')

/Users/olivianystrom/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#merging the covid dataset into one dataframe
covidList = []
covidList.extend(value for name, value in locals().items() if name.startswith('covid_20'))
covid_df = pd.concat(covidList)
covid_df.columns = covid_df.columns.str.upper()
covid_df = covid_df.rename(columns={"NUMBER": "AIR_NUMBER", "DAY": "FLIGHT_DATE"})
covid_df.head()

,CALLSIGN,AIR_NUMBER,ICAO24,REGISTRATION,TYPECODE,ORIGIN,DESTINATION,FIRSTSEEN,LASTSEEN,FLIGHT_DATE,LATITUDE_1,LONGITUDE_1,ALTITUDE_1,LATITUDE_2,LONGITUDE_2,ALTITUDE_2
0,HVN19,NaN,888152,NaN,NaN,YMML,LFPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,CCA839,NaN,780ad1,NaN,NaN,YMML,LEBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,-37.692123,144.841997,304.8,41.036124,2.063557,1112.52
2,CES219,NaN,780b7e,B-5936,A332,YSSY,EDDF,2018-12-31 01:05:29+00:00,2019-01-01 04:09:29+00:00,2019-01-01 00:00:00+00:00,-33.930908,151.171987,0.0,50.045563,8.588923,-15.24
3,AEA040,NaN,34444e,EC-LVL,A332,LEMD,LEMD,2018-12-31 01:07:21+00:00,2019-01-01 03:32:59+00:00,2019-01-01 00:00:00+00:00,40.534756,-3.575426,609.6,40.475728,-3.538347,411.48
4,CXA825,NaN,780d75,B-2760,B788,YSSY,LFPG,2018-12-31 01:18:29+00:00,2019-01-01 04:32:28+00:00,2019-01-01 00:00:00+00:00,-33.954254,151.178041,0.0,48.996091,2.625805,22.86

In [17]:
#creating dataframe of aircraft types and WTC code
aircraft_types = pd.read_csv('/Users/olivianystrom/Desktop/Springboard/Capstone 3/IATA_Aircraft_Types.csv')
aircraft_types = aircraft_types[['IATA\nCode', 'ICAO\nCode', 
                                 'Manufacturer and Aircraft Type / Model', 'WTC']]
aircraft_types.rename(columns={'IATA\nCode': 'IATA', 'ICAO\nCode': 'ICAO', 
                   'Manufacturer and Aircraft Type / Model': 'MANUFACTURER_MODEL'}, inplace=True)
aircraft_types

    IATA  ICAO      MANUFACTURER_MODEL WTC
0    100  F100              Fokker 100   M
1    141  B461         BAe 146-100 Pax   M
2    142  B462         BAe 146-200 Pax   M
3    143  B463         BAe 146-300 Pax   M
4    146   NaN  BAe 146 all pax models   M
..   ...   ...                     ...  ..
391  YK2  YK42         Yakovlev Yak 42   M
392  YK4  YK40         Yakovlev Yak 40   M
393  YN2   Y12     Harbin Yunshuji Y12   M
394  YN7  AN24        Xian Yunshuji Y7   M
395  YS1  YS11              NAMC YS-11   M

[396 rows x 4 columns]

In [ ]:
#calling live open sky api
r = requests.get('https://opensky-network.org/api/states/all')
print(r.headers)
print(r.status_code)

In [44]:
with open('json_data.json', 'w') as outfile:
    json.dump(r.json(), outfile)

In [45]:
df = pd.read_json('json_data.json')

In [46]:
df.head()

         time                                             states
0  1653692826  [a6fe0f, N55LC   , United States, 1653692825, ...
1  1653692826  [e8027d, LPE2236 , Chile, 1653692538, 16536925...
2  1653692826  [aa56db, UAL2346 , United States, 1653692825, ...
3  1653692826  [7c6b2f, JST930  , Australia, 1653692826, 1653...
4  1653692826  [7c6b2d, JST730  , Australia, 1653692826, 1653...

In [47]:
#cleaning up live flight dataset
keys = ["icao24", "callsign", "origin_country", "time_position",
            "last_contact", "longitude", "latitude", "baro_altitude", "on_ground",
            "velocity", "true_track", "vertical_rate", "sensors",
            "geo_altitude", "squawk", "spi", "position_source"]

df = pd.DataFrame(df["states"].to_list(), columns=keys)

columns = ["icao24", "callsign", "origin_country", "last_contact", 
           "longitude", "latitude", "baro_altitude", "on_ground",
           "velocity"]
df = df[columns]
df.head(10)

,icao24,callsign,origin_country,last_contact,longitude,latitude,baro_altitude,on_ground,velocity
0,a6fe0f,N55LC,United States,1653692826,-81.6423,30.8531,13106.40,False,249.08
1,e8027d,LPE2236,Chile,1653692541,-76.4997,-9.0809,11582.40,False,231.40
2,aa56db,UAL2346,United States,1653692826,-83.7303,32.3254,10972.80,False,240.84
3,7c6b2f,JST930,Australia,1653692826,152.9100,-27.3952,3962.40,False,151.62
4,7c6b2d,JST730,Australia,1653692826,145.5025,-38.2964,4739.64,False,157.45
5,aa9321,UAL880,United States,1653692822,-94.8921,30.8725,10668.00,False,247.78
6,7c6b2b,JST783,Australia,1653692826,151.8925,-30.3653,10965.18,False,219.05
7,a57b27,WGN5871,United States,1653692620,144.9385,37.9203,10058.40,False,293.59
8,a77ec5,EJA582,United States,1653692826,-113.7816,38.7924,11887.20,False,247.81
9,7c6b40,JST759,Australia,1653692826,150.0163,-36.7972,10355.58,False,247.06

In [11]:
#Pulling the metadata info
open("/Users/olivianystrom/Desktop/Springboard/Capstone 3/aircraftDatabase.csv")
df_meta = pd.read_csv("/Users/olivianystrom/Desktop/Springboard/Capstone 3/aircraftDatabase.csv")

In [12]:
#cleaning metadata
print(df_meta.columns)
# columns = ['icao24', 'registration', 'manufacturericao', 'manufacturername',
#        'model', 'typecode', 'serialnumber', 'linenumber', 'icaoaircrafttype',
#        'operator', 'operatorcallsign', 'operatoricao', 'operatoriata', 'owner',
#        'testreg', 'registered', 'reguntil', 'status', 'built',
#        'firstflightdate', 'seatconfiguration', 'engines', 'modes', 'adsb',
#        'acars', 'notes', 'categoryDescription']
columns = ['icao24', 'registration', 'manufacturericao', 'manufacturername',
       'model', 'typecode', 'serialnumber', 'linenumber', 'icaoaircrafttype',
       'operator', 'operatorcallsign', 'operatoricao', 'operatoriata', 'owner',
       'testreg', 'registered', 'built','firstflightdate', 'engines',
       'notes', 'categoryDescription']
df_meta = df_meta[columns]

Index(['icao24', 'registration', 'manufacturericao', 'manufacturername',
       'model', 'typecode', 'serialnumber', 'linenumber', 'icaoaircrafttype',
       'operator', 'operatorcallsign', 'operatoricao', 'operatoriata', 'owner',
       'testreg', 'registered', 'reguntil', 'status', 'built',
       'firstflightdate', 'seatconfiguration', 'engines', 'modes', 'adsb',
       'acars', 'notes', 'categoryDescription'],
      dtype='object')

In [13]:
#merging the metadata to the live flight data
df = df.merge(df_meta, how = 'inner', on = 'icao24')
df.head()

,icao24,callsign,origin_country,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,registration,...,operatoricao,operatoriata,owner,testreg,registered,built,firstflightdate,engines,notes,categoryDescription
0,a6fe0f,N55LC,United States,1653692826,-81.6423,30.8531,13106.40,False,249.08,N55LC,...,NaN,NaN,Lowes Companies Inc,NaN,NaN,2008-01-01,NaN,P&W CANADA PW307A,NaN,Small (15500 to 75000 lbs)
1,e8027d,LPE2236,Chile,1653692541,-76.4997,-9.0809,11582.40,False,231.40,CC-BJE,...,LPE,NaN,Latam Peru,NaN,NaN,NaN,NaN,NaN,NaN,No ADS-B Emitter Category Information
2,aa56db,UAL2346,United States,1653692826,-83.7303,32.3254,10972.80,False,240.84,N76529,...,UAL,NaN,United Airlines Inc,NaN,NaN,2010-01-01,NaN,CFM INTL CFM56-7B26/3,NaN,Large (75000 to 300000 lbs)
3,7c6b2f,JST930,Australia,1653692826,152.9100,-27.3952,3962.40,False,151.62,VH-VGH,...,JST,NaN,Jetstar Airways,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7c6b2d,JST730,Australia,1653692826,145.5025,-38.2964,4739.64,False,157.45,VH-VGF,...,JST,NaN,Jetstar Airways,NaN,NaN,NaN,NaN,NaN,NaN,No ADS-B Emitter Category Information

In [14]:
#dropping blank icao24 codes
df_meta.columns = df_meta.columns.str.upper()
df_meta.dropna(subset = ["ICAO24"], inplace=True)
df_meta.head()

,ICAO24,REGISTRATION,MANUFACTURERICAO,MANUFACTURERNAME,MODEL,TYPECODE,SERIALNUMBER,LINENUMBER,ICAOAIRCRAFTTYPE,OPERATOR,...,OPERATORICAO,OPERATORIATA,OWNER,TESTREG,REGISTERED,BUILT,FIRSTFLIGHTDATE,ENGINES,NOTES,CATEGORYDESCRIPTION
1,aa3487,N757F,NaN,Raytheon Aircraft Company,A36,NaN,E-3121,NaN,NaN,NaN,...,NaN,NaN,Vintage Aircraft Llc,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ae267b,6533,VOUGHT,Aerospatiale,MH-65C Dolphin,AS65,6182,NaN,H2T,NaN,...,NaN,NaN,United States Coast Guard,NaN,NaN,NaN,NaN,NaN,NaN,No ADS-B Emitter Category Information
3,a4fa61,N42MH,NaN,Piper,PA-31-350,NaN,31-7852015,NaN,NaN,NaN,...,NaN,NaN,Vv Flights Services Llc,NaN,NaN,1977-01-01,NaN,LYCOMING TI0-540 SER,NaN,NaN
4,c04101,C-FYQA,NaN,Champion Aircraft Corporation,7GCA (Champion),NaN,420,NaN,NaN,NaN,...,NaN,NaN,Ronald W Court (court Air Services),NaN,2016-03-29,NaN,NaN,NaN,NaN,NaN
5,391927,F-GGJH,ROBIN,Robin,DR.400 160 Chevalier,DR40,1795,NaN,L1P,NaN,...,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#calling Emergency situations dataset (did not use in final report)

open("/Users/olivianystrom/Desktop/Springboard/Capstone 3/squawk7700_metadata.csv")
df_emergent = pd.read_csv("/Users/olivianystrom/Desktop/Springboard/Capstone 3/squawk7700_metadata.csv")


# flight_id: a unique identifier for each trajectory;
# callsign: ICAO flight callsign information;
# number: IATA flight number, when available;
# icao24, registration, typecode: information about the aircraft;
# origin: the origin airport for the aircraft, when available;
# landing: the airport where the aircraft actually landed, when available;
# destination: the intended destination airport, when available;
# diverted: the diversion airport, if applicable, when available;
# tweet_problem, tweet_result, tweet_fueldump: information extracted from Twitter accounts, about the nature of the issue, the consequence of the emergency and whether the aircraft is known to have dumped fuel;
# avh_id, avh_problem, avh_result, avh_fueldump: information extracted from The Aviation Herald, about the nature of the issue, the consequence of the emergency and whether the aircraft is known to have dumped fuel.
# The complete URL for each event is https://avherald.com/h?article={avh_id}&opt=1 (replace avh_id by the actual value)

In [16]:
#cleaning emergency dataset
columns = ['flight_id', 'number', 'icao24', 'origin', 'landing', 'destination', 
           'diverted', 'tweet_problem', 'tweet_result', 'tweet_fueldump', 
           'avh_id', 'avh_problem', 'avh_result', 'avh_fueldump']
df_emergent = df_emergent[columns]
df_emergent = df_emergent.rename(columns={"number": "air_number"})
df_emergent.columns = df_emergent.columns.str.upper()
df_emergent = df_emergent.merge(df_meta, how = 'inner', on = 'ICAO24')
df_emergent.dtypes

          flight_id callsign  number  icao24 registration typecode origin  \
0  ARG1511_20180101  ARG1511  AR1511  e06442       LV-FQB     B738   SACO
1    DAL14_20180101    DAL14    DL14  a14c29       N183DN     B763   KATL
2   JBU263_20180108   JBU263   B6263  aa600a       N768JB     A320   KJFK
3    DAL65_20180108    DAL65    DL65  ab2855       N818NW     A333   KATL
4    EDW24_20180111    EDW24    WK24  4b1901       HB-JMF     A343   LSZH
5   ASA111_20180112   ASA111   AS111  a602ab       N487AS     B739   KLAS
6  ONE8511_20180113  ONE8511  O68511  e4919d       PR-OCX     A332   KMIA
7   BAW882_20180115   BAW882   BA882  406532       G-EUYM     A320   EGLL
8  ENY3342_20180117  ENY3342  AA3342  a272b8       N257NN     E75L   KDFW
9   WJA506_20180122   WJA506   WS506  c0499b       C-GBWS     B736   CYXE

  landing destination diverted tweet_problem tweet_result tweet_fueldump  \
0    SABE        SABE      NaN           NaN          NaN            NaN
1     NaN        EDDF      NaN           NaN          NaN            NaN
2     NaN        KSEA      NaN           NaN          NaN            NaN
3    KLAX        KLAX      NaN           NaN          NaN            NaN
4    LSZH        MMUN     LSZH        engine       return        unknown
5     NaN        PANC      NaN           NaN          NaN            NaN
6     NaN        SBGR      NaN           NaN          NaN            NaN
7     NaN        UKBB     EDDT       medical     diverted        unknown
8     NaN        KLIT      NaN           NaN          NaN            NaN
9     NaN        CYYZ      NaN           NaN          NaN            NaN

     avh_id avh_problem avh_result avh_fueldump
0       NaN         NaN        NaN          NaN
1       NaN         NaN        NaN          NaN
2       NaN         NaN        NaN          NaN
3       NaN         NaN        NaN          NaN
4  4b382175      engine     return      unknown
5       NaN         NaN        NaN          NaN
6       NaN         NaN        NaN          NaN
7       NaN         NaN        NaN          NaN
8       NaN         NaN        NaN          NaN
9       NaN         NaN        NaN          NaN
Index(['flight_id', 'callsign', 'number', 'icao24', 'registration', 'typecode',
       'origin', 'landing', 'destination', 'diverted', 'tweet_problem',
       'tweet_result', 'tweet_fueldump', 'avh_id', 'avh_problem', 'avh_result',
       'avh_fueldump'],
      dtype='object')

FLIGHT_ID              object
AIR_NUMBER             object
ICAO24                 object
ORIGIN                 object
LANDING                object
DESTINATION            object
DIVERTED               object
TWEET_PROBLEM          object
TWEET_RESULT           object
TWEET_FUELDUMP         object
AVH_ID                 object
AVH_PROBLEM            object
AVH_RESULT             object
AVH_FUELDUMP           object
REGISTRATION           object
MANUFACTURERICAO       object
MANUFACTURERNAME       object
MODEL                  object
TYPECODE               object
SERIALNUMBER           object
LINENUMBER             object
ICAOAIRCRAFTTYPE       object
OPERATOR               object
OPERATORCALLSIGN       object
OPERATORICAO           object
OPERATORIATA           object
OWNER                  object
TESTREG                object
REGISTERED             object
BUILT                  object
FIRSTFLIGHTDATE        object
ENGINES                object
NOTES                  object
CATEGORYDESCRIPTION    object
dtype: object

In [19]:
#Aircraft type info
open("/Users/olivianystrom/Desktop/Springboard/Capstone 3/doc8643AircraftTypes.csv")
df_types = pd.read_csv("/Users/olivianystrom/Desktop/Springboard/Capstone 3/doc8643AircraftTypes.csv")

In [20]:
#Manufacturer info
open("/Users/olivianystrom/Desktop/Springboard/Capstone 3/doc8643Manufacturers.csv")
df_man = pd.read_csv("/Users/olivianystrom/Desktop/Springboard/Capstone 3/doc8643Manufacturers.csv")

In [21]:
save_file = "/Users/olivianystrom/Desktop/Springboard/Capstone 3/Current_Flight_Data.csv"
df.to_csv(save_file)

In [22]:
open("/Users/olivianystrom/Desktop/Springboard/Capstone 3/Current_Flight_Data.csv")
df = pd.read_csv("/Users/olivianystrom/Desktop/Springboard/Capstone 3/Current_Flight_Data.csv")
df = df[['icao24', 'callsign', 'origin_country', 'last_contact',
       'longitude', 'latitude', 'baro_altitude', 'on_ground', 'velocity',
       'registration', 'manufacturericao', 'manufacturername', 'model',
       'typecode', 'serialnumber', 'linenumber', 'icaoaircrafttype',
       'operator', 'operatorcallsign', 'operatoricao', 'operatoriata', 'owner',
       'testreg', 'registered', 'built', 'firstflightdate', 'engines', 'notes',
       'categoryDescription']]
df.columns = df.columns.str.upper()
df.dtypes

ICAO24                  object
CALLSIGN                object
ORIGIN_COUNTRY          object
LAST_CONTACT             int64
LONGITUDE              float64
LATITUDE               float64
BARO_ALTITUDE          float64
ON_GROUND                 bool
VELOCITY               float64
REGISTRATION            object
MANUFACTURERICAO        object
MANUFACTURERNAME        object
MODEL                   object
TYPECODE                object
SERIALNUMBER            object
LINENUMBER              object
ICAOAIRCRAFTTYPE        object
OPERATOR                object
OPERATORCALLSIGN        object
OPERATORICAO            object
OPERATORIATA            object
OWNER                   object
TESTREG                 object
REGISTERED              object
BUILT                   object
FIRSTFLIGHTDATE         object
ENGINES                 object
NOTES                   object
CATEGORYDESCRIPTION     object
dtype: object

In [6]:
from snowflake.connector import connect
from snowflake.connector import DictCursor
from snowflake.connector.pandas_tools import write_pandas
import pyarrow.parquet as pq
import os
from dotenv import load_dotenv

/Users/olivianystrom/opt/anaconda3/lib/python3.8/site-packages/snowflake/connector/options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (8.0.0), please install a version that adheres to: 'pyarrow<6.1.0,>=6.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [39]:
load_dotenv()
snowflake_password = os.getenv('snowflake_password')
snowflake_user = os.getenv('snowflake_user')

In [41]:
#creating function to connect to snowflake
def retrieve_conn():
    return connect(
        warehouse='COMPUTE_WH',
        account='st51563.us-central1.gcp', 
        database='PC_DBT_DB',
        schema='FLIGHT_TRACKING',
        user=snowflake_user,
        password=snowflake_password,
)

In [42]:
#connecting to snowflake
cnx = retrieve_conn()

In [28]:
#uploading Live flight data to snowflake
success, nchunks, nrows, _ = write_pandas(cnx, df, 'FLIGHT_TRACKING_TABLE')
print(success)
print(nchunks)
print(nrows)

True
1
5944

In [18]:
#uploading aircraft types to snowflake
success, nchunks, nrows, _ = write_pandas(cnx, aircraft_types, 'AIRCRAFT_TYPES')
print(success)
print(nchunks)
print(nrows)

True
1
396

In [29]:
#uploading emergency dataset to snowflake
success, nchunks, nrows, _ = write_pandas(cnx, df_emergent, 'EMERGENCY_FLIGHT_TRACKING')
print(success)
print(nchunks)
print(nrows)

True
1
830

In [30]:
#uploading metadata to snowflake
success, nchunks, nrows, _ = write_pandas(cnx, df_meta, 'FLIGHT_METADATA_TABLE')
print(success)
print(nchunks)
print(nrows)

True
1
469999

In [31]:
#uploading covid dataset to snowflake
success, nchunks, nrows, _ = write_pandas(cnx, covid_df, 'COVID_FLIGHT_TABLE')
print(success)
print(nchunks)
print(nrows)

True
1
89290082